<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Appointment </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Add Appointment</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
            
                <div class="card">
                    <div class="card-body">
                      <form>
                        <!-- Paso 1: Selección de fecha, hora y especialidad -->
                        <div *ngIf="currentStep === 1">
                          <h4>Paso 1: Selección de Fecha, Hora y Especialidad</h4>
                          <div class="row">
                            <div class="col-12 col-md-6">
                              <div class="form-group">
                                <label>Fecha de la cita <span class="text-danger">*</span></label>
                                <mat-form-field appearance="fill">
                                  <input matInput [matDatepicker]="picker" [(ngModel)]="date_appointment" name="date_appointment" required />
                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col-12 col-md-6">
                              <div class="form-group">
                                <label>Hora <span class="text-danger">*</span></label>
                                <mat-form-field appearance="fill">
                                  <mat-select [(ngModel)]="hour" name="hour" required>
                                    <mat-option *ngFor="let data of hours" [value]="data.id">{{ data.name }}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="form-group">
                                <label>Especialidad <span class="text-danger">*</span></label>
                                <mat-form-field appearance="fill">
                                  <mat-select [(ngModel)]="specialitie_id" name="specialitie_id" required>
                                    <mat-option *ngFor="let data of specialities" [value]="data.id">{{ data.name }}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="text-end mt-3">
                            <button class="btn btn-primary" type="button" (click)="nextStep();filtro()">Siguiente</button>
                          </div>
                        </div>
                  
                        <!-- Paso 2: Selección de médico y horario -->
                        <div *ngIf="currentStep === 2">
                          <h4>Paso 2: Selección de Médico y Horario</h4>
                          <div class="row">
                            <div class="col-12">
                              <div class="table-responsive">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Doctor</th>
                                      <th>Disponibilidad</th>
                                      <th>Seleccionar</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <ng-container *ngFor="let doctor of DOCTORS">
                                      <tr>
                                        <td>{{ doctor.doctor.full_name }}</td>
                                        <td>{{ countDisponibilidad(doctor) }}</td>
                                        <td>
                                          <button class="btn btn-primary btn-sm" (click)="showSegment(doctor)">Seleccionar</button>
                                        </td>
                                      </tr>
                                    </ng-container>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <div class="col-12" *ngIf="DOCTOR_SELECTED">
                              <h5>Segmentos de hora disponibles:</h5>
                              <div *ngFor="let segment of DOCTOR_SELECTED.segments">
                                <div class="radio">
                                  <label>
                                    <input type="radio" name="segment" (click)="selectSegment(segment)" [disabled]="segment.is_appointment" />
                                    {{ segment.format_segment.format_hour_start }} a {{ segment.format_segment.format_hour_end }}
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="text-end mt-3">
                            <button class="btn btn-secondary" type="button" (click)="previousStep()">Anterior</button>
                            <button class="btn btn-primary" type="button" (click)="nextStep()">Siguiente</button>
                          </div>
                        </div>
                  
                        <!-- Paso 3: Datos del paciente y pago -->
                        <div *ngIf="currentStep === 3">
                          <h4>Paso 3: Datos del Paciente y Pago</h4>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Nombre <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" [(ngModel)]="name" name="name" required />
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Apellido <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" [(ngModel)]="surname" name="surname" required />
                              </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                  <label>Móvil <span class="text-danger">*</span></label>
                                  <input type="text" class="form-control" [(ngModel)]="mobile" name="mobile" required />
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>N° Documento <span class="text-danger">*</span></label>
                                  <input type="number" class="form-control" (keyup.enter)="filterPatient()" [(ngModel)]="n_document" name="n_document" required />
                                </div>
                              </div>
                    
                              <!-- Información del acompañante -->
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Nombre del Acompañante <span class="text-danger">*</span></label>
                                  <input type="text" class="form-control" [(ngModel)]="name_companion" name="name_companion" required />
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Apellido del Acompañante <span class="text-danger">*</span></label>
                                  <input type="text" class="form-control" [(ngModel)]="surname_companion" name="surname_companion" required />
                                </div>
                              </div>

                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Monto de pago <span class="text-danger">*</span></label>
                                  <input type="number" class="form-control" [(ngModel)]="amount" name="amount" required />
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Monto de adelanto <span class="text-danger">*</span></label>
                                  <input type="number" class="form-control" [(ngModel)]="amount_add" name="amount_add" required />
                                </div>
                              </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Método de pago <span class="text-danger">*</span></label>
                                <mat-form-field appearance="fill">
                                  <mat-select [(ngModel)]="method_payment" name="method_payment" required>
                                    <mat-option value="EFECTIVO">Efectivo</mat-option>
                                    <mat-option value="TRANSFERENCIA">Transferencia</mat-option>
                                    <mat-option value="YAPE">Yape</mat-option>
                                    <mat-option value="PLIN">Plin</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="text-end mt-3">
                            <button class="btn btn-secondary" type="button" (click)="previousStep()">Anterior</button>
                            <button class="btn btn-success" type="button" (click)="save()">Guardar</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                                          
            </div>	
            	



        </div>
    </div>
</div>
 